src/main/mule/sampleapi.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="748c884a-5e57-44cc-b656-3051b456de35" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="sampleapiFlow" doc:id="a575fce1-68b3-4ab2-8baa-62dbed19224e" >
		<http:listener doc:name="Listener" doc:id="04e5b959-5444-4948-9bdf-77904f7f0b3d" config-ref="HTTP_Listener_config" path="/sample"/>
		<logger level="INFO" doc:name="Logger" doc:id="a6d32cc1-54c0-484a-8c04-f1a5f19bea8e" message='#["hello world"]'/>
	</flow>
</mule>
